.projects-content h1 {
    text-align: center;
    font-size: 2rem;
    padding-bottom: 3vh;
}

.projects-ul {
    display: flex;
    align-items: center;
    flex-flow: column wrap;
}

/*TODO: Delete. Project mock.*/
.projects-ul li {
    list-style-type: none;
    margin-bottom: 3vh;
    display: flex;
    justify-content: center;
    max-width: clamp(300px, 90%, 500px);
}

@media screen and (min-width: 700px) {
    .projects-container {
        display: flex;
        flex-direction: row-reverse;
    }

    .projects-content {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .projects-content h1 {
        font-size: calc(2rem + 3vw);
        padding: 3vh 0px;
    }

    .projects-ul {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
    }
}
