.about-page {
    height: 100%;
}

.content {
    padding: 0vh 3vw;
}

.content h1 {
    color: var(--color-2);
}

.page-header {
    font-size: 2rem;
    text-align: center;
    padding-bottom: 3vh;
    color: var(--white-var);
}

.update-date {
    text-transform: uppercase;
    font-size: 1rem;
    font-style: italic;

    color: var(--color-1);
}

section h1 {
    font-size: 1.5rem;
}

.working-on-status,
.certifications,
.skill-set {
    margin: 3vh 0vw;

    color: var(--color-2);
}

.certifications ul,
.skill-set ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
}

.working-on-status p,
.certifications ul li,
.skill-set ul li {
    font-size: 1.2rem;
    margin: 1vh 0vw;
}

.working-on-status h1 ~ p,
.certifications h1 ~ ul,
.skill-set h1 ~ ul {
    margin-left: 3vw;

    color: var(--white-var);
}

.skill-set ul {
    display: flex;
    flex-flow: row wrap;
}

.skill-set ul li {
    padding: 1rem;
    color: var(--white-var);
    border: 1px solid var(--color-1);
    margin: 1vh 1vw;

    background-color: var(--color-3);
}

.links {
    padding: 1vh 0;
}

.links ul {
    display: flex;
    justify-content: space-evenly;
}

.links ul li {
    display: flex;
    border: 3px solid var(--main-color);
    border-radius: 50%;
    padding: 1rem;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
}

.links a {
    text-decoration: none;

    color: var(--color-2);
    border: 2px solid var(--color-2);
    border-radius: 50%;
    min-width: 100px;
    min-height: 100px;
    text-align: center;
    align-content: center;
}

@media screen and (min-width: 700px) {
    .about-page {
        display: flex;
        flex-direction: row-reverse;
    }

    .content-container {
        display: flex;
        flex-direction: column;
        flex: 1 1 100%;
    }

    .content {
        padding: 0vh 15vw 3vh;
    }

    .page-header {
        font-size: calc(2rem + 3vw);
        padding: 3vh 0vw;
    }

    .working-on-status,
    .certifications,
    .skill-set {
        display: flex;
        flex-direction: column;
        margin: 5vh 0vw;
    }

    section h1 {
        margin-bottom: 3vh;
        font-size: clamp(1rem, calc(1rem + 1vw), 3rem);
    }

    .update-date {
        text-align: left;
        opacity: 0.5;
    }

    .content-container footer {
        padding: 5vh 3vw;
    }
}
