nav {
    position: sticky;
    top: 0;
    margin-bottom: 5vh;
}

.nav-menu ul {
    display: flex;
    justify-content: space-around;

    text-align: center;
}

.nav-menu li {
    list-style-type: none;
    display: flex;

    padding: 3vh 0vw;
}

.rr-link {
    width: 100%;
}

.rr-link li {
    width: 100%;

    display: flex;
    flex-direction: column;
}

.nav-menu a {
    text-decoration: none;
    font-weight: 700;
    font-size: calc(1rem + 3vw);
}

@media screen and (min-width: 700px) {
    nav {
        margin: 0;
    }

    .nav-menu {
        height: 100vh;
        display: flex;
        align-items: center;
    }
    .nav-menu ul {
        flex-direction: column;
    }

    .nav-menu li {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 30vh;
        writing-mode: vertical-rl;
        font-size: calc(1rem + 1.5vw);
        width: 10vw;
    }
}
